.social-container {
    width: 100%;
    background-color: $color-secondary;
}

.social {
    @include center-content(1em 0em);
    display: flex;
    justify-content: space-between;
    color: white;

    &__references {
        display: flex;
        margin-left: 0.5em;
        p {
            margin-right: 0.5em;
        }

    }

    &__icons {
        margin-right: 0.5em;

        a {
            padding: 1em;

            i {
                color: white;
            }
        }

        a:hover {
            background-color: $color-primary;;
        }
    }
}


.header-container {
    width: 100%;
    background-color: $color-tertiary;
}

.header {
    @include center-content($padding: 0.5em 0em, $text-align: default);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .logo {
        display: flex;
        align-items: center;
        margin-left: 0.5em;

        &__image {
            width: 3em;
            height: 3em;
            margin-right: 0.5em;
        }

        &__name {
            margin: 0;
            padding: 0;

            h1 {
                margin: 0;
                padding: 0;
                font-size: x-large;
                font-family: $font-cairo;
            }

            p {
                margin: 0;
                padding: 0;
            }
        }
    }

    .menus {
        display: flex;
        align-items: stretch;
        margin-right: 0.5em;

        &__item {
            &.visible {
                display: block;
            }
        }

        a {
            padding: 1em 0.5em;
            text-decoration: none;
            color: white;
        }

        a:hover {
            background-color: $color-primary;
            border-bottom: 3px solid white;
        }

        a:active {
            background-color: $color-primary;
            border-bottom: 3px solid white;
        }

        /* Icon used to show menus on small screens */
        .icon {
            display: none;
        }
    }

    @include medium-screens {
        .logo {
            &__name {
                display: none;
            }
        }

        .menus {
            a {
                display: none;
    
                &.icon {
                    display: block;
                }
            }
        }
        

        /* Styles à appliquer lorsque le bouton hamburger sera cliqué sur des écrans petits */
        .responsive {
            display: flex;
            flex-direction: column-reverse  ;
            width: 100%;

            .menus {
                a {
                    display: block;
                }
            }
        }
    }
}