.atout {
    width: 25%;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    margin-top: 2em;
    transition: padding 0.5s;

    &__text {
        text-align: justify;
    }

    &:hover {
        i {
            color: $color-primary;
        }

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    @include medium-screens {
        width: 43%;
        text-align: center;
        padding: 1em;
    }

    @include small-screens {
        width: 75%;
    }
}

.chiffre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 1em;

    &__number {
        font-size: 3em;
        padding: 0em;
    }

    &__text {
        padding: 0;
        margin: 0;
    }

    &:hover {
        color: white;
        background-color: $color-primary;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    @include medium-screens {
        &__number {
            font-size: 2em;
            padding: 0em;
        }
    }

    @include small-screens {
        margin: 1em;
        padding: 0.5em;
    }
}


.temoignage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 1em;
    margin: 2em 0em;
    width: 100%;

    &__photo {
        img {
            margin-top: -2em;
            height: 6em;
            width: 6em;
            border-radius: 50%;
        }
    }

    &__text {
        padding: 1em 4em;

        h3 {
            text-align: center;
        }
        p {
            text-align: justify;
        }
    }

}

.partenaire {
    height: 6em;
    width: 6em;
    margin: 1em;

    img {
        height: 6em;
        width: 6em;
        border-radius: 50%;
    }
}