.main-slider {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #808080;
    display: flex;
    flex-direction: column;

    .main-swiper-container {
        overflow: hidden;
        position: relative;

        .swiper-pagination {
            position: absolute;
            bottom: 2em;
        }
    }

    .slide {
        position: relative;
        text-align: center;

        &__image {
            width: 100%;
            height: 40em;
        }

        &__text {
            position: absolute;
            bottom: 5em;
            left: 25%;
            width: 50%;
            color: white;
            background-color: rgba($color: $color-secondary, $alpha: .6);
            border-radius: 1em;
        }
    }

    @include medium-screens {
        .main-swiper-container {
            overflow: hidden;
        }

        .slide {
            &__image {
                width: 100%;
                height: auto;
            }

            &__text {
                font-size: small;
                left: 12.5%;
                width: 75%;
                color: white;
                background-color: rgba($color: $color-secondary, $alpha: .6);
                border-radius: 1em;
            }
        }

    }

    @include small-screens {
        .slide {
            &__image {
                width: 100%;
                height: auto;
            }

            &__text {
                font-size: small;
                bottom: 4em;
                color: white;
                background-color: rgba($color: $color-secondary, $alpha: .6);
                border-radius: 1em;

                p {
                    display: none;
                }
            }
        }

    }
}

.main-swiper-container {
    width: 100%;
}



.swiper-container {
    width: 50%;

    @include medium-screens {
        width: 75%;
    }
}