@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Open+Sans:wght@300&display=swap");
/* Center the content of the Section or Div */
/* Enlarge the content of the page */
* {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  padding: 1em 0em;
}

.atout {
  width: 25%;
  padding: 1em;
  text-align: center;
  border-radius: 1em;
  margin-top: 2em;
  transition: padding 0.5s;
}
.atout__text {
  text-align: justify;
}
.atout:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.atout:hover i {
  color: #bf00ff;
}
@media screen and (max-width: 1024px) {
  .atout {
    width: 43%;
    text-align: center;
    padding: 1em;
  }
}
@media screen and (max-width: 600px) {
  .atout {
    width: 75%;
  }
}

.chiffre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 1em;
}
.chiffre__number {
  font-size: 3em;
  padding: 0em;
}
.chiffre__text {
  padding: 0;
  margin: 0;
}
.chiffre:hover {
  color: white;
  background-color: #bf00ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 1024px) {
  .chiffre__number {
    font-size: 2em;
    padding: 0em;
  }
}
@media screen and (max-width: 600px) {
  .chiffre {
    margin: 1em;
    padding: 0.5em;
  }
}

.temoignage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 1em;
  margin: 2em 0em;
  width: 100%;
}
.temoignage__photo img {
  margin-top: -2em;
  height: 6em;
  width: 6em;
  border-radius: 50%;
}
.temoignage__text {
  padding: 1em 4em;
}
.temoignage__text h3 {
  text-align: center;
}
.temoignage__text p {
  text-align: justify;
}

.partenaire {
  height: 6em;
  width: 6em;
  margin: 1em;
}
.partenaire img {
  height: 6em;
  width: 6em;
  border-radius: 50%;
}

.main-slider {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #808080;
  display: flex;
  flex-direction: column;
}
.main-slider .main-swiper-container {
  overflow: hidden;
  position: relative;
}
.main-slider .main-swiper-container .swiper-pagination {
  position: absolute;
  bottom: 2em;
}
.main-slider .slide {
  position: relative;
  text-align: center;
}
.main-slider .slide__image {
  width: 100%;
  height: 40em;
}
.main-slider .slide__text {
  position: absolute;
  bottom: 5em;
  left: 25%;
  width: 50%;
  color: white;
  background-color: rgba(0, 128, 255, 0.6);
  border-radius: 1em;
}
@media screen and (max-width: 1024px) {
  .main-slider .main-swiper-container {
    overflow: hidden;
  }
  .main-slider .slide__image {
    width: 100%;
    height: auto;
  }
  .main-slider .slide__text {
    font-size: small;
    left: 12.5%;
    width: 75%;
    color: white;
    background-color: rgba(0, 128, 255, 0.6);
    border-radius: 1em;
  }
}
@media screen and (max-width: 600px) {
  .main-slider .slide__image {
    width: 100%;
    height: auto;
  }
  .main-slider .slide__text {
    font-size: small;
    bottom: 4em;
    color: white;
    background-color: rgba(0, 128, 255, 0.6);
    border-radius: 1em;
  }
  .main-slider .slide__text p {
    display: none;
  }
}

.main-swiper-container {
  width: 100%;
}

.swiper-container {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .swiper-container {
    width: 75%;
  }
}

.social-container {
  width: 100%;
  background-color: #0080ff;
}

.social {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0em;
  display: flex;
  justify-content: space-between;
  color: white;
}
.social__references {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.social__icons {
  display: flex;
}
.social__icons a {
  padding: 1em;
}
.social__icons a i {
  color: white;
}
.social__icons a:hover {
  background-color: #bf00ff;
}
@media screen and (max-width: 1024px) {
  .social {
    width: 95%;
    text-align: center;
    padding: 1em 0em;
  }
  .social__references {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .social {
    width: 95%;
    text-align: center;
    padding: 1em 0em;
  }
  .social__references {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .social__icons {
    display: flex;
    flex-direction: column;
  }
  .social__icons a {
    padding: 0.5em;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #00bfff;
  }
}

.header-container {
  width: 100%;
  background-color: #00bfff;
}

.header {
  width: 80%;
  margin: 0 auto;
  text-align: default;
  padding: 0.5em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header .logo {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}
.header .logo__image {
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
}
.header .logo__name {
  margin: 0;
  padding: 0;
}
.header .logo__name h1 {
  margin: 0;
  padding: 0;
  font-size: x-large;
  font-family: "Cairo";
}
.header .logo__name p {
  margin: 0;
  padding: 0;
}
.header .menus {
  display: flex;
  align-items: stretch;
  margin-right: 0.5em;
  /* Icon used to show menus on small screens */
}
.header .menus__item.visible {
  display: block;
}
.header .menus a {
  padding: 1em 0.5em;
  text-decoration: none;
  color: white;
}
.header .menus a:hover {
  background-color: #bf00ff;
  border-bottom: 3px solid white;
}
.header .menus a:active {
  background-color: #bf00ff;
  border-bottom: 3px solid white;
}
.header .menus .icon {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header {
    width: 95%;
    text-align: center;
    padding: 1em 0em;
    /* Styles à appliquer lorsque le bouton hamburger sera cliqué sur des écrans petits */
  }
  .header .logo__name {
    display: none;
  }
  .header .menus a {
    display: none;
  }
  .header .menus a.icon {
    display: block;
  }
  .header .responsive {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .header .responsive .menus a {
    display: block;
  }
}

.footer-container {
  width: 100%;
  background-color: lightgray;
}

.footer {
  width: 80%;
  margin: 0 auto;
  text-align: default;
  padding: 1em 0em;
}
.footer__elements {
  display: flex;
  justify-content: space-between;
}
.footer__adresse {
  width: 33%;
}
.footer__adresse h3 {
  padding-top: 0em;
}
.footer__adresse p {
  padding: 0.5em 0em;
}
.footer__formulaire {
  width: 33%;
}
.footer__formulaire h3 {
  padding-top: 0em;
}
.footer__formulaire form {
  display: flex;
  flex-direction: column;
}
.footer__formulaire form .input {
  padding: 0.5em 0.5em;
  margin: 0.5em 0em;
}
@media screen and (max-width: 1024px) {
  .footer {
    width: 95%;
    text-align: default;
    padding: 1em 0em;
  }
  .footer__adresse {
    width: 45%;
  }
  .footer__formulaire {
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    width: 95%;
    text-align: default;
    padding: 1em 0em;
  }
  .footer__elements {
    display: flex;
    flex-direction: column;
  }
  .footer__adresse {
    width: 100%;
  }
  .footer__formulaire {
    width: 100%;
    margin-top: 2em;
  }
}

.copyright-container {
  width: 100%;
  background-color: #00bfff;
}
.copyright-container .copyright {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0em;
}

.devise {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0em;
}

.bienvenue-container {
  width: 100%;
  background-color: lightgray;
}

.bienvenue {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0em;
  display: flex;
  justify-content: space-between;
}
.bienvenue__text {
  padding: 1em 2em 1em 0em;
  text-align: justify;
}
.bienvenue__image {
  padding: 1em 0.5em;
  text-align: center;
}
.bienvenue__image img {
  width: 25em;
  border-radius: 0.5em;
}
@media screen and (max-width: 1024px) {
  .bienvenue {
    width: 95%;
    text-align: center;
    padding: 1em 0em;
  }
  .bienvenue__image img {
    width: 10em;
  }
}
@media screen and (max-width: 600px) {
  .bienvenue {
    display: flex;
    flex-direction: column;
  }
  .bienvenue__text {
    padding: 0.5em;
    text-align: justify;
  }
  .bienvenue__image img {
    width: 10em;
  }
}

.atouts {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0em;
}
.atouts .atouts-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .atouts {
    width: 95%;
    text-align: center;
    padding: 1em 0em;
  }
  .atouts .atouts-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .atouts {
    width: 95%;
    text-align: center;
    padding: 1em 0em;
    display: flex;
    flex-direction: column;
  }
  .atouts .atouts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.chiffres-container {
  width: 100%;
  background-color: lightgray;
}

.chiffres {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0em;
}
.chiffres__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .chiffres {
    width: 95%;
    text-align: center;
    padding: 1em 0em;
  }
}
@media screen and (max-width: 600px) {
  .chiffres {
    width: 95%;
    text-align: center;
    padding: 1em 0em;
  }
  .chiffres__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.temoignages {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0em;
}
.temoignages__list {
  padding-top: 3em;
  justify-content: center;
  border-radius: 1em;
}
@media screen and (max-width: 1024px) {
  .temoignages {
    width: 95%;
    text-align: center;
    padding: 1em 0em;
  }
}

.partenaires {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0em;
}
.partenaires__list {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}
@media screen and (max-width: 1024px) {
  .partenaires {
    width: 95%;
    text-align: center;
    padding: 1em 0em;
  }
}
@media screen and (max-width: 600px) {
  .partenaires {
    width: 95%;
    text-align: center;
    padding: 1em 0em;
  }
  .partenaires__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
