@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Open+Sans:wght@300&display=swap');

$font-cairo: 'Cairo';
$font-open-sans: 'Open Sans';


$color-primary: #bf00ff;
$color-secondary: #0080ff;
$color-tertiary: #00bfff;